<div id="deck">
    <ul class="albums">
      {{#each albums}}<li class="album"><img src="{{this.images.0.url}}" draggable="false"></li>{{/each}}
    </ul>

    <div class="nav">
        <span data-id="recent"     class="tab {{#ifCond active '==' 'recent'}}active{{/ifCond}}">Recent</span>
        <span> | </span>
        <span data-id="top-plaid"  class="tab  {{#ifCond active '==' 'top-plaid'}}active{{/ifCond}}">Top Plaid</span>
        <span> | </span>
        <span data-id="favourites" class="tab  {{#ifCond active '==' 'favourites'}}active{{/ifCond}}">Favourites</span>
    </div>

</div>