@font-face {
  font-family: 'Noir';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Noir_Regular.woff') format('woff'),
       url('../assets/fonts/Noir_Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Noir';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/Noir_Medium.woff') format('woff'),
       url('../assets/fonts/Noir_Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'CF Dots 521';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/CFDots-Regular.woff') format('woff'),
       url('../assets/fonts/CFDots-Regular.woff2') format('woff2');
}