
{{#if playing }}
    <img class="album-art" src="{{ albumCover}}" alt="Currently playing album art">
{{/if}}

<div class="display">
    <h1 class="track-info">{{ trackInfo }}</h1>
    <h1 class="track-info">{{ trackInfo }}</h1>
</div>

<div class="spotify-player">
    {{#if playing }}
        <iframe src="https://open.spotify.com/embed/album/{{ albumId}}" width="602" height="400" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    {{/if}}
</div>