#player {
    position: fixed;
    bottom: -85px;
    left: 0;
    background-color: #190511;
    width: 602px;
    height: 86px;
    border-top-right-radius: 11px;
    z-index: 3;
    box-shadow: 0 2px 40px rgba(black, .5);
    transition: transform .3s;
    transform: translateY(0px);

    &.active {
        transform: translateY(-84px);
    }

    &.expanded {
        transform: translateY(-460px);
    }

    &:not(.expanded) .album-art svg {
        display: none;
    }

    &:hover .album-art svg {
        display: block;
    }

    .album-art {
        width: 140px;
        height: 140px;
        position: absolute;
        top: -70px;
        left: 32px;

        svg {
            fill: white;
            width: 48px;
            height: 48px;
            position: absolute;
            top: calc(50% - 24px);
            left: calc(50% - 24px);
            filter: drop-shadow( 0px 0px 4px rgba(0, 0, 0, 0.5));
        }

        &:not(.playing) .pause_circle_filled {
            display: none;
        }

        &.playing .play_circle_filled {
            display: none;
        }

        .cover {
            border-radius: 50%;
            animation: spinner 16s linear infinite;
        }
    }

    .display {
        display: block;
        color: white;
        font-family: 'CF Dots 521', sans-serif;
        font-size: 25px;
        width: 400px;
        margin-left: 190px;
        white-space: nowrap;
        line-height: 74px;
        overflow: hidden;
        margin-bottom: 12px;
        height: 74px;

        .track-info {
            float: left;
            padding: 0 120px;

            &:first-child {
                animation: carousel1 15s linear infinite;
            }

            &:nth-child(2) {
                animation: carousel2 15s linear infinite;
                margin-top: -74px;
            }
        }
    }

    .content {
        width: 100%;
        height: 400px;
        background-color: #190511;
        text-align: center;

        .artist-name {
            font-size: 20px;
            display: block;
            margin-bottom: 20px;
        }

        .album-name {
            font-size: 24px;
            display: block;
            padding-top: 10px;
            margin-bottom: 5px;
            margin-left: auto;
            margin-right: auto;
            width: 514px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .track-list {
            font-size: 21px;
            width: 100%;
            height: 296px;
            padding: 0 20px 20px 20px;
            box-sizing: border-box;
            text-align: left;
            overflow-y: scroll;
        }

        .track {
            height: 30px;
            line-height: 30px;


            &.active {
                color: black;
                background: white;
                border-radius: 2px;
            }
        }

        .number {
            margin-left: 24px;
        }

        .title {
            display: inline-block;
            margin-left: 16px;
            width: 312px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            vertical-align: bottom; // because the overflow in .title makes the .number have a lower baseline
        }

        .length {
            float: right;
            margin-right: 27px;
        }
    }

    .spotify-player {
        width: 100%;
        height: 400px;
        background-color: black;
    }
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


@keyframes carousel1 {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes carousel2 {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}